
/* ==========================================================================
    HEADINGS
   ========================================================================== */

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
    display: block;
    color: $heading-color;
    font-family: $heading-family;
    font-weight: $heading-weight;

    @if $opentype == true {
        // Turn on discretionary ligatures for larger headings
        -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
        -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
        font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
    }
}

/*
 * Size increments are set according to our chosen modular scale.
 * Increments for h4 and h5 are zeroed out (1em) at smaller sizes
 * to maintain legibility.
 */
h1,
.alpha {
    font-size: 1.5em;
}

h2,
.beta {
    font-size: 1.3em;
}

h3,
.gamma {
    font-size: 1.125em;
}

h4,
.delta {
    font-size: 1em;
}

h5, .epsilon,
h6, .zeta {
    font-size: 1em;
}
