

/* ==========================================================================
    BURGER
   ========================================================================== */

.burgWrapper {
	padding:31px 0;
	margin-right: 5px;
	float: left;
}

$sliceHeight: 2px;
$sliceWidth: 20px;
$slice-color: #fff;

.burg {
	display:block;
	height:$sliceHeight;
	width: $sliceWidth;
	background: $slice-color;
	position:relative;
	-webkit-transition: 0.5s;
    transition: 0.5s; 

	&:before {
		content: '';
		position: absolute;
		top: -6px;
		width: $sliceWidth;
		height: $sliceHeight;
		background: $slice-color;
		-webkit-transition: 0.5s;
    	transition: 0.5s;
	}
	&:after {
		content: '';
		position: absolute;
		top: 6px;
		width: $sliceWidth;
		height: $sliceHeight;
		background: $slice-color;
		-webkit-transition: 0.5s;
    	transition: 0.5s;
	}

	&.active {
		background:transparent;

		&:before {
			-webkit-transform:rotate(45deg);
			top:0;
		}
		&:after {
			-webkit-transform:rotate(-45deg);
			top:0;
		}
	}
}