
/* ==========================================================================
    BUTTONS
   ========================================================================== */

.btn { 
    padding: 1.25rem 2rem;
    line-height: 1;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;

    &:active,
    &:hover,
    &:focus {
        background: rgba(0,0,0,.05);
    }
}

.btn-cta {
    background-color: #3cd580;
    color: #fff;

    &:active,
    &:hover,
    &:focus {
        background-color: darken(#3cd580, 5%);
    }
}

.btn-submit {
    background-color: #f5b436;
    color: #fff;

    &:active,
    &:hover,
    &:focus {
        background-color: darken(#f5b436, 5%);
    }
}