
/* ==========================================================================
    FORMS
   ========================================================================== */

// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

.form-control {

    background: $input-background;
    border: 1px solid $border-color;
    color: $root-color;
    font-family: inherit;
    font-size: $root-size-em;
    margin-top: 0; // Done to avoid extending the bloated selectors above via _bs_forms.scss
    max-width: 100%;
    padding: 0.5rem 1rem;
    width: 100%;

    // Turns on lining numerals
    -webkit-font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 0, "onum" 0, "lnum" 1, "zero" 1;
    -moz-font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 0, "onum" 0, "lnum" 1, "zero" 1;
    font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 0, "onum" 0, "lnum" 1, "zero" 1;

    @include transition;

    &:focus {
        border: 1px solid lighten($brand-primary, 10%);
        outline: none;
        outline-width: 0;
    }

    // User feedback on filled form fields
    &.error {
        background: lighten($brand-danger, 35%);
        border: 1px solid lighten($brand-danger, 20%);
        color: $brand-danger;
    }

    &.valid {
        background: lighten($brand-success, 35%);
        border: 1px solid lighten($brand-success, 20%);
        color: darken($brand-success, 20%);
    }
}