
/* ==========================================================================
    CONTENT WRAPPER
   ========================================================================== */

.wrapper {
    width: 100%;
    max-width: $wrapper-width;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    
    &.full {
        max-width: none;
    }
    
    & > .content {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}