.small-text {
	font-size: $small-size;
}
.smaller-text {
	font-size: $smaller-size;
}

.large-text {
	font-size: $large-size !important;
}
.larger-text {
	font-size: $larger-size !important;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.clearfix {
	@include clearfix;
}

/* Stop lobotomising one owl */
.margin-off {
    margin-top: 0;
}

/* Stop lobotomising all owls */
.margin-off-all {

    &,
    > * {
	    margin-top: 0;
	}
}

/* Vertically and horizontally center a thing */
.center {
    @include center;
}