
// ==========================================================================
//  MIXINS
// ==========================================================================


// Better OSX font-rendering
@mixin font-smoothing() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack.
@mixin clearfix {
    &:before,
    &:after{
        content:"";
        display:table;
    }
    &:after{
        clear:both;
    }
}

// @include triangle within a pseudo element and add positioning properties
// (ie. top, left) $direction: up, down, left, right
@mixin triangle($direction, $size: 15px, $color: $root-color) {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;

    @if ($direction == 'up'){
        border-bottom: $size solid $color;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
    }

    @else if ($direction == 'down'){
        border-top: $size solid $color;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
    }

    @else if ($direction == 'left'){
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
    }

    @else if ($direction == 'right'){
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
}


// Font-face syntax, the easy way
@mixin font-face($family,$src,$weight: normal,$style: normal) {
	@font-face {
		font-family: $family;
		src: url('#{$src}.eot'); // IE9 compat
		src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
			url('#{$src}.woff') format('woff'), // standards
			url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
			url('#{$src}.svg##{$family}') format('svg'); // legacy iOS

		font-style: $style;
		font-weight: $weight;
	}
}

// Vertically center something of unknown size inside and parent of unknown size.

@mixin center {
    margin-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
// So centered object doesn't ignore padding
@mixin center-container {
    position: relative;
    width: 100%;
    height: 100%;
}

// Basic transitions.
@mixin transition($transition: all .3s ease) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

// Media query mixin to add defined breakpoint.
//
// Please note, as this is a mobile-first framework the layout is mobile by
// default. Palm represents the first breakpoint encountered as screen size
// increases.
// Use the media query mixin like this:
//
// @include mq(lg) {
//       your-desktop-styles-here;
// }

@mixin mq($media-query) {

    @if $media-query == sm {
        @media only screen and (min-width: $sm) {
            @content;
        }
    }

    @if $media-query == sm-max {
        @media only screen and (max-width: $sm) {
            @content;
        }
    }

    @if $media-query == md {
        @media only screen and (min-width: $md) {
            @content;
        }
    }

    @if $media-query == md-max {
        @media only screen and (max-width: $md) {
            @content;
        }
    }

    @if $media-query == lg {
        @media only screen and (min-width: $lg) {
            @content;
        }
    }

    @if $media-query == lg-max {
        @media only screen and (max-width: $lg) {
            @content;
        }
    }

    @if $media-query == xl {
        @media only screen and (min-width: $xl) {
            @content;
        }
    }

    @if $media-query == xl-max {
        @media only screen and (max-width: $xl) {
            @content;
        }
    }
}