// ==========================================================================
//  ROOT RULES
// ==========================================================================

// Root element colours.
$root-color:            #444444;
$root-background:       #fff;

$body-background:       #fff;

// Default font-size.
$root-size:             16px;

// Set leading.
$root-lineheight:       1.3; // Unitless value, doesn't have to be the same as $scale.

// Default font-weight.
$root-weight:           400;


// ==========================================================================
//  DEFAULT FONT STACKS
// ==========================================================================

@font-face{
font-family:"ubuntu";
src:url("/resources/fonts/ubuntu-light-webfont.eot?#iefix");
src:url("/resources/fonts/ubuntu-light-webfont.eot?#iefix") format("eot"),
url("/resources/fonts/ubuntu-light-webfont.woff2") format("woff2"),
url("/resources/fonts/ubuntu-light-webfont.woff") format("woff"),
url("/resources/fonts/ubuntu-light-webfont.ttf") format("truetype"),
url("/resources/fonts/ubuntu-light-webfont.svg#ubuntu") format("svg");
}

// Project element stacks
$root-family:           ubuntu;

// $thin-family:			ubuntu-light;

$button-family:         $root-family;
$heading-family:        $root-family;

$root-size-em: 			($root-size / 16px) * 1em;

$small-size: 			14px;
$smaller-size: 			12px;
$large-size: 			24px;
$larger-size: 			38px;

$opentype:              true !default;

// ==========================================================================
//  COLORS
// ==========================================================================

// Brand palette
$brand-color:				#be2a79;

$primary-color:				$brand-color;

// UI elements colours, used in badges, buttons, labels, etc.
$brand-alert: 	        rgb(252,248,227) !default;
$brand-danger:          rgb(217,83,79) !default;
$brand-info:            rgb(91,192,222) !default;
$brand-primary:   	    rgb(50,118,177) !default;
$brand-success:         rgb(92,184,92) !default;
$brand-warning:	        rgb(240,173,78) !default;

$input-background:      	#ffffff;

$primary-background: 		#ffffff;
$secondary-background: 		#f5f7f9;
$tertiary-background:		#283039;
$tertiary-background-low:	#000002;

$primary-background-color: 	$root-color;
$primary-background-color-2: 	#1e99d0;
$secondary-background-color:$root-color;
$tertiary-background-color:	#fff;


// Borders
$border-color:          	#bcbdc0;
$border-color-fill:        	#5395d0;

// The default size of rounded corners.
$brand-radius:          	0.250rem;

// Link colours.
$link-color:            	$primary-color;
$link-color-hover:      	darken($link-color, 10%) !default;
$link-color-visited:    	darken($link-color, 10%) !default;

//Headings

$heading-color:				#283039;
$heading-weight:			400;


// ==========================================================================
//  HEADER
// ==========================================================================

$header-height: 			3rem;
$header-border-size: 		0.125rem;

// ==========================================================================
//  BREAKPOINTS
// ==========================================================================

// Specifying breakpoints in ems accounts changes in content size.
$sm:                    35rem !default;
$md:                    48rem !default;
$lg:                    64rem !default;
$xl:                    90rem !default;

// ==========================================================================
//  WRAPPER
// ==========================================================================

$wrapper-width: 90rem;