/* ==========================================================================
    HEADER
   ========================================================================== */

.page-header {
	position: relative;
	height: 4.125rem;
	background-color: #fff;
	border-bottom: 1px solid $border-color;

	.header-brand {
		height: 100%;
		padding: 0.375rem 0.563rem;
		float: left;
	}
}